name: Hello World
on: 
  push:
    branches:
      - master
      - develop
      - 'release/**'
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build step
        run: echo "A demo build"
